<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      Your favorite show has about to begin in next 30 minutes bellow are the show and channel information 
      your show name: <%= @user.show.name %>.<br>
      your show name:<%= @user.show.time %>.<br>
    </p>
    <p>
      Thanks for liking the channel.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>